header {
    background-color: aqua;
}
main {
    background-color: rgb(17, 0, 255);
}
footer {
    background-color: rgb(255, 0, 242);
    bottom: 0;
}

/* Layout */
.container {
    display: flex;
}

.center {
    display: grid;
    place-content: center;
}

.left {
    place-content: left;
}

.right {
    place-content: right;
}

.nav-flex {
    display: flex;
}

.nav-flex__item {
    margin: 1rem;
}

.lin-grad__lt-to-drk{
    background-image: linear-gradient(135deg, rgb(17, 0, 255) 60%, rgb(0, 0, 0));
}

.h-2500 {
    height: 2800px;
}

.h-50 {
    height: 50px;
}

.h-200 {
    height: 200px;
}

.main-picture {
    width: ;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.nav-flex-spacing {
    display: flex;
    justify-content: space-around;
}

.nav-flex-margin {
    margin-left: 50rem;
}

.item{
    width:300px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 1px;
    float:left;
  }